body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

#header {
}

#header img {
  width: 120px;
}

form {
  margin: 10px;
  text-align: left;
}

input {
  width: 200px;
}

label {
  display: block;
}
